<div class="container-fluid">
  <h3>{{currentLanguage?.settings}}</h3>
</div>
<div>
  <ul class="list-group-flush">
    <li class="list-group-item pl-0 border-0">
      <div class="list-row"><i class="material-icons text-primary">notifications</i> {{currentLanguage?.notify}}</div>
      <ul class="list-group border-0">
        <li class="list-group-item border-0" *ngFor="let setting of settingsList">
          <div class="custom-checkbox custom-control">
            <input type="checkbox" [checked]="setting.value === 'on'" (change)="changeValue(setting)"
                   class="custom-control-input" id="{{setting.id}}">
            <label class="custom-control-label" for="{{setting.id}}">
              {{currentLanguage ? currentLanguage[setting.name] || setting.name : setting.name}}
            </label>
          </div>

        </li>
      </ul>
    </li>

    <li class="list-group-item pl-0 border-0" *ngIf="currentRole === 'customer'">
      <div class="list-row"><i class="material-icons text-primary">place</i>
        <span routerLink="stores">{{currentLanguage?.tradePoints}}</span>
      </div>

    </li>
  </ul>
</div>
