<!--<div class="container-fluid">-->
  <div class="container pl-0">
    <nav class="navbar navbar-expand-lg navbar-light pl-0 pr-0" *ngIf="isAuth">
      <a class="navbar-brand">
        <img src="../../assets/logo_dark.svg" width="290px" height="100px">
      </a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 flex-row">
        <li class="nav-item mr-4 mr-lg-0" *ngIf="currentRole !== 'admin'">
          <div class="top-menu-item">
            <a class="nav-link" style="cursor: default" >{{currentLanguage?.profile}}</a>
            <div class="top-menu-item-drop">
              <div routerLink="profile" class="menu-link">{{currentLanguage?.open}}</div>
              <div (click)="editProfile()" class="menu-link">{{currentLanguage?.edit}}</div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a href="" routerLink="" class="nav-link text-dark font-weight-bold">{{currentLanguage?.main}}</a>
        </li>
        <li class="nav-item">
          <a href="" routerLink="" class="nav-link text-dark font-weight-bold">{{currentLanguage?.news || 'NEWS'}}</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <div class="dropdown">
            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="languageButton"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              {{languageState === 'ua' ? 'УКР' : 'РУС'}}
            </button>
            <div class="dropdown-menu" aria-labelledby="languageButton">
              <span class="dropdown-item" (click)="changeLanguage('ru')">Рус</span>
              <span class="dropdown-item" (click)="changeLanguage('ua')">Укр</span>
            </div>
          </div>
        </li>
      </ul>
      <div>
    <span class="navbar-collapse collapse text-primary">
      <div class="icon-wrap" *ngIf="currentUser.role === 'customer'">
        <button class="icon-button text-primary">
          <i class="material-icons icon-icon">shopping_basket</i>
        </button>
        <div class="not-count" (click)="openModal('bag')">{{goodsCount}}</div>
      </div>

      <div class="icon-wrap" *ngIf="currentUser.role === 'customer'">
        <button class="icon-button text-primary"><i class="material-icons icon-icon">place</i></button>
      </div>

      <div class="icon-wrap">

        <div>
          <i class="material-icons icon-icon">notifications</i>&nbsp;
        </div>
        <div class="not-count" (click)="getNotifications(true)"
             *ngIf="notificationsList && notificationsList.length > 0">
          {{total.unread}}
        </div>



        <div class="notification-block" #notificationsBlock
             [ngStyle]="visible? {'display':'block'} : {'display':'none'}">
          <div id="triangle">&nbsp;</div>
            <ul class="list-group list-group-flush p-1 mt-1 mb-1" *ngIf="notificationsList">
              <li class="list-group-item p-1" (click)="readNotification(notification)"
                  [ngStyle]="notification.read ? {'background-color': 'rgba(0,0,0,0.1)'} : ''"
                  *ngFor="let notification of notificationsList">
                <span [ngSwitch]="notification.action">
                  <div *ngSwitchCase="'review_user'" style="color: black" class="d-flex align-items-center">
                    <span style="color: black; font-weight: bold">
                      {{notification.created_at.date | date:'HH:mm'}}
                    </span>
                    <i class="material-icons p-0 mr-1 ml-1" style="height:24px;color: gold; font-size: 20px">star</i>
                      {{currentLanguage?.newRate || 'NEW RATE'}} {{notification.value}} от&nbsp;
                    <span style="color: #1D77C8">
                      {{notification.from_user.name}}
                    </span>
                  </div>

                  <div *ngSwitchCase="'review_goods'" style="color: black" class="d-flex align-items-center">
                    <span style="color: black; font-weight: bold">
                      {{notification.created_at.date | date:'HH:mm'}}
                    </span>
                    <i class="material-icons p-0 mr-1 ml-1" style="height:24px;color: gold; font-size: 20px">accessible_forward</i>
                      {{currentLanguage?.newRate || 'NEW RATE'}} {{notification.value}} от&nbsp;
                    <span style="color: #1D77C8">
                      {{notification.from_user.name}}
                    </span>
                  </div>

                  <div *ngSwitchCase="'order_created'" style="color: black" class="d-flex align-items-center">
                    <span style="color: black; font-weight: bold">
                      {{notification.created_at.date | date:'HH:mm'}}
                    </span>
                    <i class="material-icons p-0 mr-1 ml-1"
                       style="height:24px;color: #1D77C8; font-size: 20px">shopping_cart</i>
                      {{currentLanguage?.newOrderFrom}}&nbsp;
                    <span style="color: #1D77C8">
                      {{notification.from_user.name}}
                    </span>
                  </div>

                  <div *ngSwitchCase="'order_status'" style="color: black" class="d-flex align-items-center">
                    <span style="color: black; font-weight: bold">
                      {{notification.created_at.date | date:'HH:mm'}}
                    </span>
                    <i class="material-icons p-0 mr-1 ml-1"
                       style="height:24px;color: #1D77C8; font-size: 20px">local_shipping</i>
                      {{currentLanguage?.statusChange}} {{notification.value}}&nbsp;
                    <span style="color: #1D77C8">
                      {{notification.from_user.name}}
                    </span>
                  </div>
                </span>

              </li>
              <li class="list-group-item p-1 text-center" *ngIf="notificationsList.length < total.notifications"
                  (click)="getMoreNotifications()">{{currentLanguage?.more || 'MORE'}}</li>
            </ul>
        </div>

      </div>

      <div class="name-role-block">
        <small class="text-muted">{{currentLanguage ? currentLanguage[checkAuth().role] : ''}}</small>
        <p class="p-0 m-0">{{checkAuth().name}}&nbsp;</p>

        <!--<button (click)="switchAllChannels()">отключить каналы</button>-->
      </div>
        &nbsp;<i class="material-icons" style="cursor: pointer" (click)="logOut()">exit_to_app</i>
    </span>
        <span class="navbar-toggler text-warning" data-toggle="collapse"
              aria-expanded="false">{{checkAuth().name}}</span>
        <button type="button" class="navbar-toggler ml-2" (click)="logOut()" data-toggle="collapse" aria-label="Close">
          <span aria-hidden="false" class="text-danger">&times;</span>
        </button>
      </div>
    </nav>

    <nav class="navbar navbar-expand-lg pl-0 pr-0" *ngIf="!isAuth">
      <a class="navbar-brand" href="">
        <img src="../../assets/logo_dark.svg" width="250px" height="100px">
      </a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 flex-row align-middle">
        <li class="nav-item">
          <a href="" routerLink="" class="nav-link text-dark font-weight-bold">{{currentLanguage?.main}}</a>
        </li>
        <li class="nav-item">
          <a href="" routerLink="" class="nav-link text-dark font-weight-bold">{{currentLanguage?.news || 'NEWS'}}</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <div class="dropdown">
            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="languageButton1"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              {{languageState === 'ua' ? 'УКР' : 'РУС'}}
            </button>
            <div class="dropdown-menu" aria-labelledby="languageButton1">
              <span class="dropdown-item" (click)="changeLanguage('ru')">Рус</span>
              <span class="dropdown-item" (click)="changeLanguage('ua')">Укр</span>
            </div>
          </div>
        </li>
      </ul>
    </nav>

    <ngx-smart-modal identifier="notificationsModal" #notificationsModal class="reviews-modal-block">
      <app-reviews [inputData]="reviewsList" *ngIf="modalType === 'review'"></app-reviews>
      <app-bag (finish)="closeModal('notificationsModal')" *ngIf="modalType === 'bag'"></app-bag>
    </ngx-smart-modal>

  </div>
<!--</div>-->
