.icon-container {
  padding: 0;
  width: 20px;
  height: 20px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: white;
}
.icon-symbol {
  font-size: 13px;
  color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.icon-container-big {
  padding: 0;
  width: 30px;
  height: 30px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: white;
}
.icon-symbol-big {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
