.pending-status {
  color: white;
  background-color: gold;
}
.processed-status {
  color: white;
  background-color: deeppink;
}
.shipped-status {
  color: white;
  background-color: darkslategrey;
}
.accepted_customer-status {
  color: white;
  background-color: greenyellow;
}
.canceled-status {
  color: white;
  background-color: red;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.up-triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid green;
  margin-bottom: 2px;
}

.down-triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid green;
  margin-top: 2px;
}

select:focus {
  outline: 0!important;
  box-shadow: none!important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.popover-container {
  position: relative;
}
.popover-block {
  padding: 10px;
  background-color: white;
  position: absolute;
  top: 0;
  transform: translate(0%, 5%);
  right: 0;
  display: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
}
.edit-popover {
  font-size: 14px;
}
.popover-block:before {
  content: '';
  /*background-color: red;*/
  display: none;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -10%);

  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
}
tr:hover .open-popover {
  color: #1D77C8;
}
/*th {*/
  /*padding: 0!important;*/
/*}*/
/*table td {*/
  /*padding-right: 0!important;*/
  /*padding-left: 0!important;*/
  /*font-size: 14px;*/
/*}*/
