#upload-file {
  opacity: 0;
  width: 300px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#input-block {
  display: flex;
  align-items: center;
  justify-content: center;
  /*z-index: -1;*/
  /*width: 150px;*/
  /*height: 150px;*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
}

#input-block i {
  font-size: 30px;
}
#image-block {
  position: relative;
}
#image-block i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#image-block:hover i {
  font-size: 50px;
  color: red;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
.input-container {
  min-width: 300px;
  min-height: 150px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hide-last {
  display: none;
}
