<div class="card mt-5 pt-3 pb-0 mb-5 shadow-lg bg-white rounded border-0">

  <div class="card-header bg-transparent border-0 pb-0 mb-0">
    <div class="card-title d-flex flex-row justify-content-between align-items-center pb-0 mb-0">
      <div>
        <span class="font-weight-bold h3 font-weight-bold">Онлайн чат</span>
      </div>
    </div>
    <small class="text-muted">количество пользователей : {{filteredList?.length}}</small>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col form-group">
        <input class="form-control form-control-lg" [(ngModel)]="searchString" (keyup)="search()" type="text" placeholder="поиск клиента">
      </div>
    </div>

    <ul class="list-group-flush pl-0">
      <li class="list-group-item pl-0" *ngFor="let contact of filteredList">
        <div class="row" *ngIf="contact">
          <div class="col-5">
            <div class="m-0 p-0 font-weight-bold text-primary">{{contact.name}}</div>
            <div class="m-0 p-0 text-muted small">{{contact.legal_name}}</div>
          </div>

          <div class="col d-flex justify-content-end">
            <button type="button" class="btn btn-primary" (click)="getRoom(contact.id, contact)">сообщение</button>
          </div>
        </div>
      </li>
      <li *ngIf="filteredList?.length <= 0" class="list-group-item">
        ничего не найдено
      </li>
    </ul>
  </div>


</div>

