<div *ngIf="currentBasket && currentBasket.length > 0;then tableBlock else emptyBlock"></div>
<ng-template #tableBlock>
  <div class="modal-header font-weight-bold pt-0 pl-0 border-0">
    <div class="modal-title">Корзина пользователя</div>
  </div>
  <div class="modal-body p-0 m-0">

    <div class="table-responsive p-0 m-0" *ngFor="let table of currentBasket">
      <h6 class="font-weight-bold mt-1 p-1 bg-secondary text-white">поставщик : {{table.provider.name}}</h6>
      <table class="table table-hover">
        <thead class="text-center bg-light">
        <th>Артикул</th>
        <th>Фото</th>
        <th>Название</th>
        <th>Наличие на складе</th>
        <th>Количество фактическое</th>
        <th>Стоимость</th>
        <th>Сумма</th>
        <th></th>
        </thead>
        <tbody class="text-center">
        <tr *ngFor="let goods of table.goods">
          <td class="align-middle">{{goods.article}}</td>
          <td class="align-middle"><img [src]="goods.images[0]?.url || '../../assets/default.png'" width="50px" height="50px"></td>
          <td class="align-middle">{{goods.name}}
            <small class="text-muted">{{goods.brand}}</small>
          </td>
          <td class="align-middle">{{goods.quantity_available}}</td>
          <td class="align-middle">{{goods.quantity}}</td>
          <td class="align-middle">{{setDiscount(goods.price, goods.discount).newPrice}}</td>
          <td class="align-middle">{{countSum(+goods.price, goods.discount, goods.quantity)}}</td>
          <td class="align-middle text-center">
            <button class="btn btn-sm btn-danger text-center" (click)="deleteGoods(goods, table)">
              <i class="font-weight-bold material-icons align-middle">close</i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    итого : {{countAmount()}}
  </div>
  <div>
    <button (click)="makeOrder()">оформить заказ</button>
  </div>
</ng-template>

<ng-template #emptyBlock>
  <div class="modal-content border-0">
    <div class="modal-header border-0">&nbsp;</div>
    <div class="modal-body text-center">
      <h3 class="border-secondary">Корзина пуста</h3>
    </div>
  </div>
</ng-template>
