<div *ngIf="adminMode; then adminBlock else clientBlock"></div>
<ng-template #adminBlock>
  <div class="card mt-5 pt-3 pb-0 mb-5 shadow-lg bg-white rounded border-0">
    <!--<div class="supplier-main-container">-->

    <div class="card-header bg-transparent border-0 pb-0 mb-0">
      <div class="card-title pb-0 mb-0">
        <div>
          <span class="font-weight-bold h3">{{currentLanguage?.suppliersList}}</span>
        </div>
      </div>
    </div>


    <div class="card-body pb-0">
      <div class="table">
        <table class="table table-bordered table-hover">
          <thead>
          <tr style="background-color: #F2F2F2">
            <th scope="col" class="small border-right-0">{{currentLanguage?.title}}</th>
            <th scope="col" class="small border-right-0 border-left-0">{{currentLanguage?.legalPerson}}</th>
            <th scope="col" class="small border-right-0 border-left-0">{{currentLanguage?.phone}}</th>
            <th scope="col" class="small border-right-0 border-left-0">{{currentLanguage?.officialData}}</th>
            <th scope="col" class="small border-right-0 border-left-0">{{currentLanguage?.requisites}}</th>
            <th scope="col" class="small border-right-0 border-left-0">##</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let supplier of suppliersList">
            <td class="align-middle border-right-0">{{supplier.name}}</td>
            <td class="align-middle border-right-0 border-left-0">{{supplier.legal_name}}</td>
            <td class="align-middle border-right-0 border-left-0">{{supplier.phone}}</td>
            <td class="align-middle border-right-0 border-left-0">{{supplier.official_data}}</td>
            <td class="align-middle border-right-0 border-left-0">{{supplier.requisites}}</td>
            <td class="text-center align-middle border-left-0">
              <!--<button [disabled]="loading" class="btn btn-sm btn-success" (click)="editSupplier(supplier)"><i-->
                <!--class="font-weight-bold material-icons align-middle">create</i></button>-->
              <!--<div *ngIf="supplier.banned === 0; then banBlock else unBanBlock"></div>-->
              <!--<ng-template #banBlock>-->
                <!--<button [disabled]="loading" class="btn btn-sm btn-secondary" (click)="bannedSupplier(supplier)"><i-->
                  <!--class="font-weight-bold material-icons align-middle">block</i></button>-->
              <!--</ng-template>-->
              <!--<ng-template #unBanBlock>-->
                <!--<button [disabled]="loading" class="btn btn-sm btn-primary" (click)="bannedSupplier(supplier)"><i-->
                  <!--class="font-weight-bold material-icons align-middle">undo</i></button>-->
              <!--</ng-template>-->
              <!--<button [disabled]="loading" class="btn btn-sm btn-warning" (click)="deleteSupplier(supplier)"><i-->
                <!--class="font-weight-bold material-icons align-middle">close</i>-->
              <!--</button>-->
              <span [id]="supplier.id + 'open'" class="open-popover h3" (click)="currentPop = supplier.id">...</span>
              <div class="popover-container">
                <div [id]="supplier.id + 'triangle'" class="triangle"></div>
                <div [id]="supplier.id + 'pop'" class="popover-block" *ngIf="currentRole !== 'admin'">
                  <div class="edit-popover small text-primary" (click)="getDirectChat(supplier)">{{currentLanguage?.message}}</div>
                  <div *ngIf="supplier.banned === false; then banBlock else unBanBlock"></div>
                  <ng-template #banBlock>
                    <div class="edit-popover small text-secondary" (click)="bannedSupplier(supplier)">{{currentLanguage?.block}}</div>
                  </ng-template>
                  <ng-template #unBanBlock>
                    <div class="edit-popover small text-success" (click)="bannedSupplier(supplier)">{{currentLanguage?.unBlock}}</div>
                  </ng-template>
                  <!--<div class="edit-popover small text-danger" (click)="deleteCustomer(customer)">удалить</div>-->
                </div>

                <div [id]="supplier.id + 'pop'" class="popover-block" *ngIf="currentRole === 'admin'">
                  <div class="edit-popover small text-primary" (click)="editSupplier(supplier)">{{currentLanguage?.edit}}</div>
                  <div class="edit-popover small text-danger" (click)="deleteSupplier(supplier)">{{currentLanguage?.delete}}</div>
                  <div *ngIf="supplier.banned === false; then banBlock else unBanBlock"></div>
                  <ng-template #banBlock>
                    <div class="edit-popover small text-secondary" (click)="banModalOpen(supplier)">{{currentLanguage?.block}}</div>
                  </ng-template>
                  <ng-template #unBanBlock>
                    <div class="edit-popover small text-success" (click)="banModalOpen(supplier)">{{currentLanguage?.unBlock}}</div>
                  </ng-template>
                </div>

              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!--</div>-->
  </div>

  <nav class="">
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{'border-0': paginationModel.currentPage === paginationModel.firstPage}"
          style="color: #1D77C8">
        <a class="page-link border-0 mr-2 font-weight-bold"
           (click)="doPagination(paginationModel.currentPage - 1)">
          <i class="material-icons align-middle">keyboard_arrow_left</i>
          <u>{{currentLanguage?.previous}}</u>
        </a>
      </li>
      <li class="page-item mr-1 ml-1" [ngClass]="{'custom-active custom-round-box p-0': paginationModel.currentPage === i + 1}"
          *ngFor="let a of paginationModel.totalPages; let i = index">
        <a class="page-link p-0 mr-1 ml-1 font-weight-bold" (click)="doPagination(i+1)">{{i + 1}}</a>
      </li>
      <li class="page-item" [ngClass]="{'border-0': paginationModel.currentPage === paginationModel.lastPage}"
          style="color: #1D77C8">
        <a class="page-link border-0 ml-2 font-weight-bold" (click)="doPagination(paginationModel.currentPage + 1)">
          <u>{{currentLanguage?.next}}</u>
          <i class="material-icons align-middle">keyboard_arrow_right</i>
        </a>
      </li>
    </ul>
  </nav>

  <!--{{paginationModel | json}}-->

</ng-template>

<ng-template #clientBlock>
  <div class="card mt-5 pt-3 pb-0 mb-5 shadow-lg bg-white rounded border-0">
    <!--<div class="row">-->
      <!--<div class="col">-->


        <div class="card-header bg-transparent border-0 pb-0 mb-0">
          <div class="card-title pb-0 mb-0">
            <div>
              <span class="font-weight-bold h3">{{currentLanguage?.suppliersList}}</span>
            </div>
          </div>
        </div>

    <div class="card-body">
        <div class="table">
          <table class="table table-bordered table-hover">
            <thead>
            <tr style="background-color: #F2F2F2">
              <th scope="col" class="small border-right-0">{{currentLanguage?.title}}</th>
              <th scope="col" class="small border-right-0 border-left-0">{{currentLanguage?.address}}</th>
              <th scope="col" class="small border-right-0 border-left-0">{{currentLanguage?.phone}}</th>
              <th scope="col" class="small border-right-0 border-left-0">{{currentLanguage?.reting}}</th>
              <th scope="col" class="small border-right-0 border-left-0">##</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let supplier of suppliersList">
              <td class="align-middle border-right-0">
                <div class="nav-link supplier-link" (click)="detailedInfo(supplier)">
                  {{supplier.name}}
                </div>
                <div class="nav-link">{{supplier.legal_name}}</div>
              </td>
              <td class="align-middle border-right-0 border-left-0" style="word-break: break-all">
                {{supplier.official_data}}</td>
              <td class="align-middle border-right-0 border-left-0">{{supplier.phone}}</td>
              <td class="align-middle border-right-0 border-left-0" style="width: 20%">
                <div class="row">
                  <div class="col text-center">
                    <i *ngFor="let star of rating; let i = index"
                       class="material-icons text-warning">
                      {{i < supplier.rating ? 'star' : 'star_border'}}</i>
                  </div>
                </div>
              </td>
              <td class="text-center align-middle border-right-0 border-left-0">
                <!--<button [disabled]="loading" class="btn btn-sm btn-success" (click)="getDirectChat(supplier)"><i-->
                  <!--class="font-weight-bold material-icons align-middle">mail_outline</i></button>-->
                <!--<button [disabled]="loading" class="btn btn-sm btn-warning"><i-->
                  <!--class="font-weight-bold material-icons align-middle">block</i>-->
                <!--</button>-->
                <span [id]="supplier.id + 'open'" class="open-popover h3" (click)="currentPop = supplier.id">...</span>
                <div class="popover-container">
                  <div [id]="supplier.id + 'triangle'" class="triangle"></div>
                  <div [id]="supplier.id + 'pop'" class="popover-block" *ngIf="currentRole !== 'admin'">
                    <div class="edit-popover small text-primary" (click)="getDirectChat(supplier)">{{currentLanguage?.message}}</div>
                    <div *ngIf="supplier.banned === false; then banBlock else unBanBlock"></div>
                    <ng-template #banBlock>
                      <div class="edit-popover small text-secondary" (click)="bannedSupplier(supplier)">{{currentLanguage?.block}}</div>
                    </ng-template>
                    <ng-template #unBanBlock>
                      <div class="edit-popover small text-success" (click)="bannedSupplier(supplier)">{{currentLanguage?.unBlock}}</div>
                    </ng-template>
                    <!--<div class="edit-popover small text-danger" (click)="deleteCustomer(customer)">удалить</div>-->
                  </div>

                  <div [id]="supplier.id + 'pop'" class="popover-block" *ngIf="currentRole === 'admin'">
                    <div class="edit-popover small text-primary" (click)="editSupplier(supplier)">{{currentLanguage?.edit}}</div>
                    <div class="edit-popover small text-danger" (click)="deleteSupplier(supplier)">{{currentLanguage?.delete}}</div>
                    <div *ngIf="supplier.banned === false; then banBlock else unBanBlock"></div>
                    <ng-template #banBlock>
                      <div class="edit-popover small text-secondary" (click)="banModalOpen(supplier)">{{currentLanguage?.block}}</div>
                    </ng-template>
                    <ng-template #unBanBlock>
                      <div class="edit-popover small text-success" (click)="banModalOpen(supplier)">{{currentLanguage?.unBlock}}</div>
                    </ng-template>
                  </div>

                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>


      <!--</div>-->
    <!--</div>-->
  </div>



  <nav class="">
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{'border-0': paginationModel.currentPage === paginationModel.firstPage}"
          style="color: #1D77C8">
        <a class="page-link border-0 mr-2 font-weight-bold"
           (click)="doPagination(paginationModel.currentPage - 1)">
          <i class="material-icons align-middle">keyboard_arrow_left</i>
          <u>{{currentLanguage?.previous}}</u>
        </a>
      </li>
      <li class="page-item mr-1 ml-1" [ngClass]="{'custom-active custom-round-box p-0': paginationModel.currentPage === i + 1}"
          *ngFor="let a of paginationModel.totalPages; let i = index">
        <a class="page-link p-0 mr-1 ml-1 font-weight-bold" (click)="doPagination(i+1)">{{i + 1}}</a>
      </li>
      <li class="page-item" [ngClass]="{'border-0': paginationModel.currentPage === paginationModel.lastPage}"
          style="color: #1D77C8">
        <a class="page-link border-0 ml-2 font-weight-bold" (click)="doPagination(paginationModel.currentPage + 1)">
          <u>{{currentLanguage?.next}}</u>
          <i class="material-icons align-middle">keyboard_arrow_right</i>
        </a>
      </li>
    </ul>
  </nav>
</ng-template>
<!--<button (click)="modeBlock.open()">test</button>-->

<ngx-smart-modal identifier="modeBlock" [closable]="false" #modeBlock>
  <div class="card bg-transparent pr-3 pl-3">
    <div class="card-body pr-3 pl-3 bg-transparent">
      <div class="card-header bg-transparent p-0">
        <div class="card-title d-flex flex-row justify-content-between">
          <h5 class="font-weight-bold">
            {{!currentUser?.banned ? currentLanguage?.block : currentLanguage?.unBlock}}
          </h5>
          <div class="close-custom text-center" (click)="modeBlock.close()">
            <i class="material-icons align-middle" style="font-size: 20px; font-weight: bold">close</i>
          </div>
        </div>
      </div>

      <div class="border-top-0 p-2">

        <span class="small text-muted pr-3">{{currentLanguage?.title}}:</span><span class="pl-3">{{currentUser?.name}}</span>
      </div>


      <div class="card-footer bg-transparent">
        <div class="">
          <span class="text-muted text-left">Блокировка пользователя Блокировка пользователя Блокировка пользователя Блокировка
            пользователя Блокировка пользователя Блокировка пользователя Блокировка пользователя </span>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-lg btn-primary mt-2" (click)="banUnBan()">
            {{!currentUser?.banned ? currentLanguage?.block : currentLanguage?.unBlock}}
          </button>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>
