<div class="card">
  <form [formGroup]="userForm" (ngSubmit)="save()">
    <div class="card-body pb-0">

      <div class="card-header bg-transparent pl-0">
        <div class="card-title pl-0">
          <h4 class="font-weight-bold">{{currentLanguage?.editSupplier}} : {{currentUser.name}}</h4>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div class="col">
                <div class="form-group">
                  <label class="small text-muted" for="name">{{currentLanguage?.title}}</label>
                  <input type="text" class="form-control font-weight-bold" formControlName="name" id="name">
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label class="small text-muted" for="legal_name">{{currentLanguage?.legalPerson}}</label>
                  <input type="text" class="form-control font-weight-bold" formControlName="legal_name" id="legal_name">
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label class="small text-muted" for="phone">{{currentLanguage?.phone}}</label>
                  <input type="text" class="form-control font-weight-bold" formControlName="phone" id="phone">
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label class="small text-muted" for="off_data">{{currentLanguage?.officialData}}</label>
                  <input type="text" class="form-control font-weight-bold" formControlName="official_data" id="off_data">
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label class="small text-muted" for="requisites">{{currentLanguage?.requisites}}</label>
                  <input type="text" class="form-control font-weight-bold" formControlName="requisites" id="requisites">
                </div>
              </div>
            </div>

            <div class="col-6">
              <label class="small text-muted">{{currentLanguage?.categories}}</label>
              <ul *ngIf="categoriesList" class="list-group-flush">
                <li *ngFor="let category of categoriesList" class="list-group-item border-0">
                  <div class="custom-checkbox custom-control">
                    <input id="{{category.id}}" class="custom-control-input" type="checkbox"
                           [checked]="checked(category)" (click)="setCategory(category)">
                    <label class="custom-control-label" for="{{category.id}}">{{category.name}}</label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer bg-transparent border-0">
      <button type="submit" class="btn btn-primary font-weight-bold">Сохранить</button>
    </div>
  </form>
</div>
