<div class="container-fluid" *ngIf="currentSupplier">
  <div class="row">
    <div class="col" [ngSwitch]="currentTab">
      <h2>Мои клиенты \ {{currentSupplier.legal_name}}</h2>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a routerLink="/supplier/{{currentSupplier.id}}" class="nav-link" (click)="currentTab = null">Информация</a>
        </li>
        <li class="nav-item">
          <a routerLink="/supplier/{{currentSupplier.id}}" class="nav-link" (click)="getReviews()">Отзывы <span
            class="badge badge-light">{{currentSupplier.reviews_count}}</span></a>
        </li>
      </ul>


      <div *ngSwitchDefault>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-3 text-center">
                <div class="m-3 image-container">
                  <div class="supplier-rating">
                    <i class="material-icons supplier-rating-star">star_border</i> {{currentSupplier.rating}}
                  </div>
                  <img [src]="'../assets/default-user.png'" width="100px" height="100px">
                  <div class="mt-3">123123.123</div>
                  <div class="mt-3">123</div>
                  <div class="mt-3">Акция "Фаворит"</div>
                  <div class="mt-3">
                    <button type="button" class="btn btn-success col" (click)="getDirectChat(currentSupplier)">сообщение</button>
                  </div>
                  <div class="mt-3">
                    <div  *ngIf="currentSupplier.banned; then unbanBlock else banBlock"></div>
                    <ng-template #banBlock>
                      <button type="button" class="btn btn-secondary col" [disabled]="loading"
                              (click)="updateUser(false, true)">заблокировать</button>
                    </ng-template>
                    <ng-template #unbanBlock>
                      <button type="button" class="btn btn-warning col" [disabled]="loading"
                              (click)="updateUser(false, false)">разблокировать</button>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div class="col">
                <ul class="list-group-flush">
                  <li class="list-group-item">
                    {{currentSupplier.name}}
                  </li>

                  <li class="list-group-item">
                    Адрес : {{currentSupplier.official_data}}
                  </li>

                  <li class="list-group-item">
                    Контактное лицо : {{currentSupplier.name}}
                  </li>

                  <li class="list-group-item">
                    Телефон : {{currentSupplier.phone}}
                  </li>

                  <li class="list-group-item">
                    Категории товаров :
                    <ul>
                      <li class="list-group-item" *ngFor="let category of currentSupplier.categories">
                        {{category.name}}
                      </li>
                    </ul>
                  </li>

                  <li class="list-group-item pl-0 pr-0">
                    <div class="col d-flex justify-content-between">
                      <span>размер скидки : {{currentSupplier.discount ? currentSupplier.discount : 0}} %</span>
                      <span *ngIf="currentRole === 'provider'" class="like-link" (click)="openDiscountModal()">изменить размер скидки</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div *ngSwitchCase="'reviews'" class="container-fluid">
        <div class="row" *ngFor="let review of currentReviews">
          <div class="col">

            <div class="card">
              <div class="card-body">
                <div class="card-title">
                  <img [src]="'../assets/default-user.png'" width="20px" height="20px"> поставщик : {{review.user.name}}
                </div>
                <div class="card-subtitle pl-4">
                  <div>
                    <i *ngFor="let star of rating; let i = index"
                       class="material-icons text-warning">
                      {{i < review.estimate ? 'star' : 'star_border'}}
                    </i>
                  </div>
                </div>
                <div class="card-text pl-4">{{review.review}}</div>
              </div>
            </div>

          </div>
        </div>

        <div class="row mt-3 mb-3 d-flex align-items-center">
          <div class="col-2 d-flex align-items-center justify-content-end p-0">

            <i *ngFor="let star of rating; let i = index"
               class="material-icons text-warning" style="font-size: 30px;cursor: pointer"
               (mousemove)="currentRating = {mark: i, edit: true}"
               (mouseleave)="currentRating = {mark: undefined, edit: false}"
               (click)="newReview.estimate = i + 1">
              {{currentRating.edit ? i < currentRating.mark + 1 ? 'star':'star_border' :
              i < newReview.estimate ? 'star' : 'star_border'}}
            </i>

          </div>
          <div class="col">
            <div class="form-group m-0 p-0">
              <input class="form-control" placeholder="добавьте свой отзыв" [(ngModel)]="newReview.review">
            </div>
          </div>
          <div class="col-2">
            <button class="btn btn-success col" (click)="sendReview()" [disabled]="loading">добавить</button>
          </div>
        </div>
      </div>


    </div>
    <ngx-smart-modal [customClass]="'modal-content p-0'" identifier="discountModal" #discounModal [closable]="false">
      <div class="modal-header">
        <h5 class="modal-title" id="discountModalTitle">Изменить размер скидки</h5>
        <button type="button" class="close" (click)="discounModal.close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="col-form-label" for="discount">размер скидки в % :</label>
          <input class="form-control" id="discount" placeholder="размер скидки в %"
                 [(ngModel)]="currentSupplier.discount">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="discounModal.close()">отмена</button>
        <button type="button" class="btn btn-primary" (click)="updateUser(true)">сохранить</button>
      </div>
    </ngx-smart-modal>
  </div>

</div>



