.category-main-head-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  min-height: 10%;
}
.category-main-head-container button{
  background-color: #729854;
  border: none;
  color: white;
  padding: 5px 12px;
}
/*.header-button-container {*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*border: 1px solid red;*/
/*}*/
.category-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: auto;
}
/*table {*/
  /*border: 1px solid #96B65A;*/
  /*padding: 0;*/
  /*margin: 0;*/
  /*border-collapse: collapse;*/
  /*width: 80%;*/
/*}*/
/*tr {*/
  /*padding: 0;*/
  /*margin: 0;*/
/*}*/
/*td {*/
  /*padding: 0;*/
  /*margin: 0;*/
  /*border: 1px solid #96B65A;*/
/*}*/
/*.cell-buttons {*/
  /*text-align: center;*/
/*}*/

table > thead > tr > th{
  border-top:0;
}
table > tbody > tr > td{
  border-top:0;
}
.popover-container {
  position: relative;
}
.popover-block {
  padding: 10px;
  background-color: white;
  position: absolute;
  top: 0;
  transform: translate(0%, 5%);
  right: 0;
  display: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
}
.edit-popover {
  font-size: 14px;
}
.popover-block:before {
  content: '';
  /*background-color: red;*/
  display: none;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -10%);

  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
}
tr:hover .open-popover {
  color: #1D77C8;
}
