<h1>Редактировать профиль</h1>
<div class="row">
  <div class="col-md-6 col">
    <form [formGroup]="currentUserForm" *ngIf="currentUserForm">
      <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label">Название компании : </label>
        <div class="col-sm-8 col-md">
          <input type="text" class="form-control" formControlName="name" id="name">
        </div>
      </div>

      <div class="form-group row">
        <label for="legal_name" class="col-sm-4 col-form-label">Юридическое лицо : </label>
        <div class="col-sm-8 col-md">
          <input class="form-control" type="text" formControlName="legal_name" id="legal_name">
        </div>
      </div>

      <div class="form-group row">
        <label for="official_data" class="col-sm-4 col-form-label">Официальные данные : </label>
        <div class="col-sm-8 col-md">
          <input class="form-control" type="text" formControlName="official_data" id="official_data">
        </div>
      </div>

      <div class="form-group row">
        <label for="requisites" class="col-sm-4 col-form-label">Реквизиты : </label>
        <div class="col-sm-8 col-md">
          <input class="form-control" type="text" formControlName="requisites" id="requisites">
        </div>
      </div>

      <div class="form-group row" *ngIf="currentUser.role === 'provider'">
        <label for="legal_name" class="col-sm-4 col-form-label">Категории товаров :</label>
        <ul class="list-group-flush col-sm-8 col-md">
          <li class="list-group-item" *ngFor="let category of allCategoriesList">
            <input type="checkbox" [checked]="checked(category)" (click)="setCategory(category)"> {{category.name}}
          </li>
        </ul>
      </div>

      <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label">E-mail : </label>
        <div class="col-sm-8 col-md">
          <input class="form-control" type="text" formControlName="email" id="email">
        </div>
      </div>

      <div class="form-group row">
        <label for="phone" class="col-sm-4 col-form-label">Телефон : </label>
        <div class="col-sm-8 col-md">
          <input class="form-control" type="text" formControlName="phone" id="phone">
        </div>
      </div>

      <div class="form-group row">
        <label for="pass" class="col-sm-4 col-form-label">Пароль : </label>
        <div class="col-sm-8 col-md">
          <input class="form-control disabled" disabled type="text" id="pass" placeholder="************">
        </div>
        <div class="col-1">
          <button type="button" (click)="openPassModal()" class="btn btn-success"><i
            class="font-weight-bold material-icons align-middle">create</i></button>
        </div>
      </div>
      <!--Пароль : {{userData.password?}}-->
      <div class="form-group row">
        <div class="col-sm-8 col-md">
          <button type="submit" class="btn btn-primary align-self-end" (click)="save()">сохранить</button>
        </div>
      </div>
    </form>
  </div>
</div>

<ngx-smart-modal identifier="passModal" #passModal>
  <h2 class="text-center">Смена пароля</h2>

  <form [formGroup]="changePasswordForm">
    <div class="form-group row">
      <div class="col-sm-8 col-md">
        <div class="input-group mb-3">
          <input class="form-control border-right-0" placeholder="введите старый пароль"
                 [type]="passVisible.password_current?'text':'password'"
                 formControlName="oldPass">
          <div class="input-group-append">
            <span class="input-group-text border-left-0 btn btn-outline-secondary"
                  (click)="passVisible.password_current = !passVisible.password_current" data-toggle="button">
              <i class="material-icons" (click)="passVisible.password_current = !passVisible.password_current">visibility</i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-8 col-md">
        <div class="input-group mb-3">
          <input class="form-control border-right-0" placeholder="введите новый пароль"
                 [type]="passVisible.password_new?'text':'password'"
                 formControlName="newPass">
          <div class="input-group-append">
            <span class="input-group-text border-left-0 btn btn-outline-secondary"
                  (click)="passVisible.password_new = !passVisible.password_new" data-toggle="button">
              <i class="material-icons">visibility</i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-8 col-md">
        <div class="input-group mb-3">
          <input class="form-control border-right-0" placeholder="введите новый пароль, повторно"
                 [type]="passVisible.password_new_confirmation?'text':'password'"
                 formControlName="confirmPass">
          <div class="input-group-append">
            <span class="input-group-text border-left-0 btn btn-outline-secondary"
                  (click)="passVisible.password_new_confirmation = !passVisible.password_new_confirmation"
                  data-toggle="button">
              <i class="material-icons">visibility</i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row justify-content-between">
      <div class="col text-center">
        <button class="btn btn-success" (click)="changePassword()">сохранить</button>
      </div>

      <div class="col text-center">
        <button class="btn btn-warning" (click)="passModal.close()">отменить</button>
      </div>
    </div>
  </form>
</ngx-smart-modal>



