<!--&lt;!&ndash;<div class="side-menu-main-container" *ngIf="currentRole === 'admin'">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="side-menu-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a routerLink="categories">Список категорий</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="side-menu-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a routerLink="suppliers">Поставщики</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="side-menu-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a routerLink="customers">Заказчики</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="side-menu-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a routerLink="addNews">Новости</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="side-menu-main-container" *ngIf="currentRole === 'provider'">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="side-menu-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a routerLink="goods">Каталог товаров</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="side-menu-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a routerLink="suppliers">Мои клиенты</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="side-menu-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a routerLink="customers">Мои заказы</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="side-menu-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a routerLink="addNews">Чат</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="side-menu-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a routerLink="addNews">Логистика</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="side-menu-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a routerLink="addNews">Отчеты</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="side-menu-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a routerLink="addNews">Настройки</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="flex-column">-->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light flex-column">-->

<!--<div class="navbar-brand">LOGO</div>-->
<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>-->


<!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--<ul class="navbar-nav mr-auto">-->
<!--<li class="nav-item active">-->
<!--MESS-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" href="#">Link</a>-->
<!--</li>-->
<!--<li class="nav-item dropdown">-->
<!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"-->
<!--aria-haspopup="true" aria-expanded="false">-->
<!--Dropdown-->
<!--</a>-->
<!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--<a class="dropdown-item" href="#">Action</a>-->
<!--<a class="dropdown-item" href="#">Another action</a>-->
<!--<div class="dropdown-divider"></div>-->
<!--<a class="dropdown-item" href="#">Something else here</a>-->
<!--</div>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link disabled" href="#">Disabled</a>-->
<!--</li>-->
<!--</ul>-->
<!--<form class="form-inline my-2 my-lg-0">-->
<!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--</form>-->
<!--</div>-->
<!--</nav>-->
<!--</div>-->


<!--<div class="container-fluid">-->
<!--<div class="row">-->
<!--<nav class="nav navbar-light navbar-toggleable-sm">-->
<!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"-->
<!--data-target="#sideBar" aria-controls="navbarSupportedContent" aria-expanded="false"-->
<!--aria-label="Toggle navigation">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>-->
<!--<div class="navbar-collapse collapse flex-column" id="sideBar">-->
<!--<a routerLink="categories" class="nav-link">Категории</a>-->
<!--<a routerLink="suppliers" class="nav-link">Поставщики</a>-->
<!--<a routerLink="customers" class="nav-link">Заказчики</a>-->
<!--<a routerLink="news" class="nav-link">Новости</a>-->
<!--<a href="" class="nav-link">Linnk</a>-->
<!--<a href="" class="nav-link">Linnk</a>-->
<!--</div>-->
<!--</nav>-->
<!--</div>-->
<!--</div>-->


<!--<div class="flex-column">-->
<!--<nav class="navbar-nav navbar-expand-lg">-->
<!--<button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#collapseExample"-->
<!--aria-expanded="false" aria-controls="collapseExample" aria-label="Toggle navigation">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>-->
<!--<ul class="navbar-nav mr-auto mt-2 mt-lg-0 flex-column">-->
<!--<li class="nav-item active">-->
<!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" href="#">Link</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link disabled" href="#">Disabled</a>-->
<!--</li>-->
<!--</ul>-->
<!--</nav>-->
<!--</div>-->
<div class="row d-flex justify-content-center" *ngIf="currentRole === 'admin'">

  <div class="col-10 pt-5">
    <div class="card shadow-lg mb-5 bg-white rounded border-0 pb-0">
      <nav class="navbar navbar-expand-lg navbar-light text-center " id="adminMove">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#adminSidebar"
                aria-controls="adminSidebar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-center float-right flex-row" id="adminSidebar">

          <ul class="navbar-nav mr-0 mt-2 mt-lg-0 flex-column text-left">
            <li class="nav-item border-bottom">
              <a routerLink="categories" class="nav-link">
                <i class="material-icons align-middle">dehaze</i>
                {{currentLanguage?.categories}}
              </a>
            </li>
            <li class="nav-item border-bottom">
              <a routerLink="suppliers" class="nav-link">
                <i class="material-icons align-middle">publish</i>
                {{currentLanguage?.suppliers}}
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="customers" class="nav-link">
                <i class="material-icons align-middle">get_app</i>
                {{currentLanguage?.customers}}
              </a>
            </li>
          </ul>

        </div>
      </nav>
    </div>
  </div>

</div>

<div class="row d-flex justify-content-center" *ngIf="currentRole === 'provider'">

  <div class="col-10 pt-5">
    <div class="card shadow-lg mb-5 bg-white rounded border-0 pb-0">
      <nav class="navbar navbar-expand-lg navbar-light text-center" id="providerMove">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#providerSidebar"
                aria-controls="providerSidebar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-center float-right flex-row" id="providerSidebar">
          <ul class="navbar-nav mr-0 mt-2 mt-lg-0 flex-column text-left">
            <li class="nav-item border-bottom">
              <a routerLink="goods" class="nav-link">Каталог товаров</a>
            </li>
            <li class="nav-item border-bottom">
              <a routerLink="customers" class="nav-link">Список клиентов</a>
            </li>
            <li class="nav-item border-bottom">
              <a routerLink="orders" class="nav-link">Список заказов</a>
            </li>
            <li class="nav-item border-bottom">
              <a routerLink="chat" class="nav-link">Чат</a>
            </li>
            <li class="nav-item border-bottom">
              <a routerLink="logistic" class="nav-link">Логистика</a>
            </li>
            <li class="nav-item border-bottom">
              <a routerLink="reports" class="nav-link">Отчеты</a>
            </li>
            <li class="nav-item">
              <a routerLink="settings" class="nav-link">Настройки</a>
            </li>
          </ul>
        </div>

      </nav>
    </div>
  </div>

</div>

<div class="row d-flex justify-content-center" *ngIf="currentRole === 'customer'">

  <div class="col-10 pt-5">
    <div class="card shadow-lg mb-5 bg-white rounded border-0 pb-0">
      <nav class="navbar navbar-expand-lg navbar-light" id="customerMove">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#customerSideBar"
                aria-controls="customerSideBar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse float-right flex-row" id="customerSideBar">
          <div class="">
            <ul class="navbar-nav mr-0 mt-2 mt-lg-0 flex-column">
              <li class="nav-item">
                <a routerLink="goods" class="nav-link">Каталог товаров</a>
              </li>
              <li class="nav-item">
                <a routerLink="suppliers" class="nav-link">Мои клиентов</a>
              </li>
              <li class="nav-item">
                <a routerLink="orders" class="nav-link">Мои заказы</a>
              </li>
              <li class="nav-item">
                <a routerLink="chat" class="nav-link">Чат</a>
              </li>
              <li class="nav-item">
                <a routerLink="reports" class="nav-link">Отчеты</a>
              </li>
              <li class="nav-item">
                <a routerLink="settings" class="nav-link">Настройки</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
